# ====================
# Python / Backend
# ====================
venv/
__pycache__/
*.pyc
*.pyo
.env
*.db
*.sqlite3

# ====================
# ML / AI Cache
# ====================
.cache/
*.pth
*.bin
*.h5
*.onnx
*.joblib
*.pickle

# ====================
# Project specific
# ====================
backend/files/

# ====================
# Frontend
# ====================
frontend/node_modules/
frontend/build/
frontend/.env

# ====================
# IDE & OS
# ====================
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db